<% provide(:title, "Log in") %>
<div class="CompanyName">
  <h1>Marshal Bank & Trust</h1>
</div>

<div class="LoginBorder">
  <div class="LoginPanel">
    <%= form_for(:login, url: login_path) do |f| %>

      <%= f.label :email %>:
      <%= f.email_field :email, class: 'form-control' %>
      <br>
      <br>
      <%= f.label :password %>:
      <%= f.password_field :password, class: 'form-control' %>
      <br>
      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <p><b>New user? <%= link_to "Register your Online Account!", register_path %></b></p>
  </div>
</div>
